// $blue: rgba(0,175,240,1);
// $blue_20: rgba(0,175,240,.2);

// $orange: rgba(240,85,30,1);
// $orange_20: rgba(240,85,30,.2);

// $green: rgba(50,180,145,1);
// $green_20: rgba(50,180,145,.2);

// $pink: rgba(237, 19, 90, 1);
// $pink_20: rgba(237, 19, 90, .2);

$purple: rgba(71,43,116,1);
$purple_5: rgba(71,43,116,.05);
$purple_10: rgba(71,43,116,.1);
$purple_20: rgba(71,43,116,.2);
$purple_50: rgba(71,43,116,.5);
$purple_20_matte: #d3cddc;

$white: rgba(255,255,255,1);
$white_90: rgba(255,255,255,.9);
$white_80: rgba(255,255,255,.8);
$white_70: rgba(255,255,255,.7);
$white_60: rgba(255,255,255,.6);
$white_50: rgba(255,255,255,.5);
$white_40: rgba(255,255,255,.4);
$white_30: rgba(255,255,255,.3);
$white_20: rgba(255,255,255,.2);
$white_15: rgba(255,255,255,.15);
$white_10: rgba(255,255,255,.1);

$gray_80: rgba(0,0,0,.8);
$gray_70: rgba(0,0,0,.7);
$gray_60: rgba(0,0,0,.6);
$gray_50: rgba(0,0,0,.5);
$gray_40: rgba(0,0,0,.4);
$gray_30: rgba(0,0,0,.3);
$gray_20: rgba(0,0,0,.2);
$gray_15: rgba(0,0,0,.15);
$gray_10: rgba(0,0,0,.1);
$gray_5: rgba(0,0,0,.05);
$gray_3: rgba(0,0,0,.03);
$gray_50_matte: #727272;
$gray_30_matte: #aaa;
$gray_10_matte: #e3e3e3;

$text_color: #333;

// Official GovLab Purple and shades
$govlab-purple:   rgba(71,43,116,1);
$govlab-purple_1: rgba(153,129,192,1);
$govlab-purple_2: rgba(40,24,65,1);
$govlab-purple_3: rgba(111,93,139,1);
$govlab-purple_4: rgba(32,19,52,1);
$govlab-purple_5: rgba(118,71,192,1);
$govlab-purple_6: rgba(79,48,129,1);
$govlab-purple_7: rgba(55,34,90,1);

// Base Color Scheme
$scheme-comp_1: rgba(71,43,116,1);
$scheme-comp_2: rgba(0,0,0,.4);
$scheme-comp_3: rgba(0,200,180, 1);
$scheme-comp_4: rgba(40,24,65,1);

// Repository Category Colors

$citizen-engagement: rgba(0,173,239,1);
$expert-networking: rgba(238,98,39,1);
$open-data: rgba(0,201,183,1);
$data-analysis: rgba(196,57,149,1);
$behavioral-research: rgba(9,166,95,1);
$civic-technology: rgba(205,192,53,1);
$labs-and-experimentation: rgba(38,76,122,1);

// $citizen-engagement: rgba(0,173,239,1);
// $expert-networking: rgba(0,227,136,1);
// $open-data: rgba(255,141,0,1);
// $data-analysis: rgba(175,0,0,1);
// $behavioral-research: rgba(207,207,0,1);
// $civic-technology: rgba(0,200,0,1);
// $labs-and-experimentation: rgba(240,0,116,1);


// UI Behavior Colors

$red: red;
$green: green;
$yellow: yellow;







