// $blue: rgba(0,175,240,1);
// $blue_20: rgba(0,175,240,.2);

// $orange: rgba(240,85,30,1);
// $orange_20: rgba(240,85,30,.2);

// $green: rgba(50,180,145,1);
// $green_20: rgba(50,180,145,.2);

// $pink: rgba(237, 19, 90, 1);
// $pink_20: rgba(237, 19, 90, .2);

$purple: rgba(71,43,116,1);
$purple_5: rgba(71,43,116,.05);
$purple_10: rgba(71,43,116,.1);
$purple_20: rgba(71,43,116,.2);
$purple_50: rgba(71,43,116,.5);
$purple_20_matte: #d3cddc;

$white: rgba(255,255,255,1);
$white_90: rgba(255,255,255,.9);
$white_80: rgba(255,255,255,.8);
$white_70: rgba(255,255,255,.7);
$white_60: rgba(255,255,255,.6);
$white_50: rgba(255,255,255,.5);
$white_40: rgba(255,255,255,.4);
$white_30: rgba(255,255,255,.3);
$white_20: rgba(255,255,255,.2);
$white_15: rgba(255,255,255,.15);
$white_10: rgba(255,255,255,.1);

$gray_80: rgba(0,0,0,.8);
$gray_70: rgba(0,0,0,.7);
$gray_60: rgba(0,0,0,.6);
$gray_50: rgba(0,0,0,.5);
$gray_40: rgba(0,0,0,.4);
$gray_30: rgba(0,0,0,.3);
$gray_20: rgba(0,0,0,.2);
$gray_15: rgba(0,0,0,.15);
$gray_10: rgba(0,0,0,.1);
$gray_5: rgba(0,0,0,.05);
$gray_3: rgba(0,0,0,.03);
$gray_50_matte: #727272;
$gray_30_matte: #aaa;
$gray_10_matte: #e3e3e3;

$text_color: #333;

// Official GovLab Purple and shades
$govlab-purple:   rgba(71,43,116,1);
$govlab-purple_1: rgba(153,129,192,1);
$govlab-purple_2: rgba(40,24,65,1);
$govlab-purple_3: rgba(111,93,139,1);
$govlab-purple_4: rgba(32,19,52,1);
$govlab-purple_5: rgba(118,71,192,1);
$govlab-purple_6: rgba(79,48,129,1);
$govlab-purple_7: rgba(55,34,90,1);

// Base Color Scheme
$scheme-comp_1: rgba(71,43,116,1);
$scheme-comp_2: rgba(0,0,0,.4);
$scheme-comp_3: rgba(0,200,180, 1);
$scheme-comp_4: rgba(40,24,65,1);

// Color Code
$red: rgba(171,32,74,1);
$blue: rgba(115,133,255,1);
$green: rgba(46,180,154,1);
$yellow: rgba(227,204,38,1);

// Color Code shades
$red_1: rgba(107,20,46,1);
$red_2: rgba(247,46,107,1);
$red_3: rgba(184,34,80,1);
$red_4: rgba(145,27,63,1);

$blue_1: rgba(86,100,191,1);
$blue_2: rgba(57,66,127,1);
$blue_2_30: rgba(57,66,127,.3);
$blue_3: rgba(29,33,64,1);
$blue_4: rgba(103,120,229,1);
$blue_4_30: rgba(103,120,229,.3);

$green_1: rgba(30,116,99,1);
$green_2: rgba(13,52,45,1);
$green_3: rgba(49,193,165,1);
$green_4: rgba(39,154,132,1);

$yellow_1: rgba(163,147,27,1);
$yellow_2: rgba(99,89,17,1);
$yellow_2_30: rgba(99,89,17,.3);
$yellow_3: rgba(240,215,40,1);
$yellow_4: rgba(201,181,34,1);
$yellow_4_30: rgba(201,181,34,.3);

// Content Colors Modifiers









