.b-top-navigation {
	background-color: $purple;
	position: relative;
	z-index: 10;
	@include drop-shadow;

	.e-logo {
		font-size: 1.2rem;
		letter-spacing: .5px;
		float: left;
		
		a { color: $white; }
	}

	.e-icon {
		background-image: url("../img/govlab-logo-white.png");
		background-size: 140px;
		width: 30px;
		height: 40px;
		background-repeat: no-repeat;
		float: left;
	}

	.e-sitename {
		padding: 7px 10px 7px;
		display: inline-block;
		font-weight: 100;
	}
} // .b-top-navigation



// MOBILE ONLY
@media only screen and (max-width : $desktop_width) {

.b-top-navigation {

	.e-logo { margin: 5px 0 6px; }
	
	.e-mainnav-trigger {
		font-size: 1.4rem;
		position: absolute;
		right: 20px;
		top: 12px;
		color: $white;
		z-index: 20;
	}

	.b-main-nav {
		opacity: 0;
		position: fixed;
		pointer-events: none;
		background-color: $purple;
		left: 0;
		right: 0;
		top: 0;
		margin: 0;
		display: flex;
		flex-flow: column;
		z-index: 19;
		@include transition;

		a {
			display: block;			
			align-items: center;
		  flex: 1;
			font-size: 2rem;
			color: $white;
			font-weight: 100;
			padding: 9%;
			text-align: left;

			&:active {
				background-color: $white_15;
			}
		}
	}

	&.m-nav-active .b-main-nav {
		opacity: 1;
		bottom: 0;
		padding: 50px 0;
		@include transition;
		pointer-events: all;
	}
	
	.m-nav-active.e-mainnav-trigger i:before { content: "\f00d" !important; }
	
}
.m-disabled {display: none !important;}

}

/* Desktops and laptops ----------- */
@media only screen and (min-width : $desktop_width) {

.b-top-navigation {
	padding: 0;

	.e-logo { padding: 3px 0 3px; }
	.e-icon { width: 140px; }

	.e-mainnav-trigger { display: none; }

	.b-main-nav {
		opacity: 1;
		z-index: 0;
		margin: 0;
		position: static;
		text-align: right;
		font-size: 0;

		a {
			display: inline-block;
			line-height: 1;
			padding: 19px 15px;
			font-size: 1.1rem;
			color: $white;
			font-weight: 100;
			letter-spacing: 1px;
			border-right: 1px solid $white_15;
		}
		a:first-child { border-left: 1px solid $white_15; }
		a:hover { background-color: $white_15; }
		}
	}

.m-disabled {
	opacity: .3;
	pointer-events: none;
}
}







































// /* Desktops and laptops ----------- */
// @media only screen and (min-width : $desktop_width) {

// .b-top-navigation {
// 	padding: 0;
// 	height: 58px;
// 	background-color: $purple;

// 	.row {
// 		text-align: left;
// 	}
// }

// .b-logo {
// 	display: inline-block;
// 	max-width: 30%;
// 	margin-top: 5px;

// 	img {
// 		width: 140px;
// 	}

// 	&:hover {
// 		background-color: transparent;
// 	}
// }

// .b-main-nav-container {
// 	float: right;

// }

// .b-main-nav {
// 	margin: 0;
// 	position: relative;

// 	li {
// 		margin: 0;
// 		padding: 0;

// 	}

// 	> li {
// 		float: left;
// 		// padding-bottom: 14px;
		
// 		a {
// 			padding: 16px;
// 			display: inline-block;
// 		}
// 	}

// 	> li:last-of-type a {
// 			border-right: 0;
// 	}

// 	.e-submenu {
// 		ul {
// 			// display: none;
// 			z-index: -10;
// 		}
// 	}

// 	a {
// 		color: $white;
// 		font-size: 1.1rem;
// 		padding: 3px 12px;
// 		white-space: nowrap;
// 		border-right: 1px solid $white_15;
// 		@include transition;

// 		&:hover {
// 			background-color: $white_30;
// 			@include transition;
// 		}

// 		&.m-disabled {
// 			opacity: .4;
// 			pointer-events: none;
// 		}
// 	}
// }

// .b-main-nav h2 { display: none; }

// // Dropdown menu

// .e-submenu {
// 	position: relative;

// 	&:after {
// 		content: "";
// 		width: 0;
// 		height: 0;
// 		border-top: 6px solid $white_15;
// 		border-left: 10px solid transparent;
// 		border-right: 10px solid transparent;
// 		position: absolute;
// 		right: calc(50% - 10px);
// 		top: 40px;
// 		pointer-events: none;
// 	}

// 	&:hover:after {
// 		border-top-color: $white_30;
// 	}

// 	ul {
// 		display: block;
// 		position: absolute;
// 		z-index: -1;
// 		top: -100px;
// 		margin: 0;
// 		left: 0;
// 		@include drop-shadow-light;
// 		@include transition;

// 		li:first-of-type a {
// 			padding-top: 6px;
// 		}

// 		.e-sub-item {
// 			display: block;
// 			border: 0;
// 			color: $white_70;
// 			background-color: $govlab-purple_3;
// 			border: 1px solid $gray_80;
// 			border-top: 0;
// 			padding: 3px 18px;

// 			&:hover {
// 				background-color: $govlab-purple_4;
// 				color: $white;

// 			}
// 		}
// 	}
// }

// .e-submenu:hover {
// // .e-submenu {
// 	ul {
// 		@include transition;
// 		top: 58px;
// 	}
// }

// }
