#homepage {
	
#landing {

	h1 {
		font-size: 3rem;
		text-align: center;
	}
}

#about {
  h2 {
    font-size: 2.9rem;
  }
}
}


#repository {
  .b-main-search {
    h2 {
      font-size: 2rem;
      text-align: center;
    }
  }
}