
.b-publication-item.b-publication-item {
	position: relative;

	h1 {
		text-align: left;
		font-size: 1.1rem;
    max-height: 48px;
    overflow: hidden;

		a {
		color: $gray_80;
		font-weight: 600;
		}
	}

  &:before {
	  content: '';
	  width: 6px;
	  position: absolute;
	  top: 0;
	  left: 0;
	  bottom: 0;
    background-color: $gray_20;
	}
  .e-pub-author {
    font-size: 0.9rem;
  }

  .e-pub-date {
    font-size: 0.9rem;
    text-transform: uppercase;
  }

  .e-pub-type {
    text-align: right;

    span {
      font-size: .8rem;
      text-transform: uppercase;
      color: $white;
      border-radius: 2px;
      padding: 0 6px;
      display: inline-block;
      background-color: $gray_20;
    }
  }

  .e-pub-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 10px;
    width: 100%;
    text-align: right;

    a {
      color: $gray_20;
      margin: 0 15px;
    }

    a:hover { color: $gray_60; }
  }
}

/* Mobile Only ----------- */
@media only screen and (max-width : $desktop_width) {
.b-publication-item.b-publication-item {
	display: block;
	padding: 10px 15px 10px 20px;
	border-bottom: 1px solid $gray_20;

	h1 { margin-bottom: 10px; }

	&:first-of-type {
		border-top: 1px solid $gray_20;
	}

	.e-pub-author {
		margin-bottom: 10px;
	}

}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : $desktop_width) {
.b-publication-item {
  display: inline-block;
  border: 1px solid $gray_20;
  background-color: $white;
  padding: 10px 20px 10px 34px;
  // height: 240px;
  // width: 337px;
  margin: 4px;
  height: 200px;
  width: 500px;
  vertical-align: top;
  @include drop-shadow-light;

  // &:nth-of-type(3n) { margin-right: 0; }
}

.b-publication-item .e-pub-actions { display: none; }
.b-publication-item:hover .e-pub-actions { display: block; }

} // Media query


.b-publication-item {
  &.m-behavioral-research:before,
  &.m-behavioral-research .e-pub-type span                  { background-color: $behavioral-research;      }
  &.m-citizen-engagement-and-crowdsourcing:before,
  &.m-citizen-engagement-and-crowdsourcing .e-pub-type span { background-color: $citizen-engagement;       }
  &.m-civic-technology:before,
  &.m-civic-technology .e-pub-type span                     { background-color: $civic-technology;         }
  &.m-data-analysis:before,
  &.m-data-analysis .e-pub-type span                        { background-color: $data-analysis;            }
  &.m-expert-networking:before,
  &.m-expert-networking .e-pub-type span                    { background-color: $expert-networking;        }
  &.m-labs-and-experimentation:before,
  &.m-labs-and-experimentation .e-pub-type span             { background-color: $labs-and-experimentation; }
  &.m-open-data:before,
  &.m-open-data .e-pub-type span                            { background-color: $open-data;                }
}