.b-pre-content {
	margin-bottom: 20px;

	.b-message-box {
		margin: 5px;
		border: 1px solid $gray_30;
		border-left: 4px solid $purple;
		box-shadow: 2px 2px 5px $gray_10;
		background-color: $white;
		color: $gray_80;
		padding: 10px 10px 10px 20px;

		p {
			margin: 0;
		}

		a {
			color: $purple;

			&:hover {
				color: $white;
			}
		}
	}

	.b-highlights {
		height: 30px;
		overflow: hidden;
		position: relative;

		p {
			position: absolute;
			left: 0;
			bottom: 0;
			margin: 0 5px;
			font-size: 14px;
			line-height: 14px;
			padding: 0;
			opacity: 0;
			text-transform: uppercase;
			overflow: hidden;
			color: $gray_50;
			font-weight: bold;
			-webkit-animation-duration: 16s;
			-webkit-animation-name: highlights;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-timing-function: ease;
			-webkit-animation-play-state:running;

			&:hover {
				-webkit-animation-play-state:paused;
			}
		}

		p:first-of-type { -webkit-animation-delay: 0s; }
		p:nth-of-type(2) { -webkit-animation-delay: 4s; }
		p:nth-of-type(3) { -webkit-animation-delay: 8s; }
		p:nth-of-type(4) { -webkit-animation-delay: 12s; }
	}

}

@-webkit-keyframes highlights {
  from { 
  	height: 0;
  	opacity: 0;
  	z-index: 0;
  }
  
	5% {
		height: 14px;
		opacity: 1;
		z-index: 1;
	}

	23% {
		height: 14px;
		opacity: 1;
		z-index: 1;
	}

	25% {
		height: 14px;
		opacity: 0;
		z-index: 0;
	}

  to { 
  	height: 14px;
		opacity: 0;
		z-index: 0;
  }
}