.b-organization-header {
  padding: 30px 0 10px;
  background-color: $white;
  @include drop-shadow;
  border-width: 16px 0 0 0;
  border-style: solid;
  border-color: $citizen-engagement;

  h3 {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: $citizen-engagement;
  }

  .e-org-logo {
    text-align: center;
    vertical-align: middle;
    img {
      max-width: 350px;
    }
  }
}