.b-main-category-menu-repo {
  .column {
    padding: 0 5px;
  }
  .e-main-category {
    color: $white;
    padding: 10px 12px;
    display: block;
    text-align: center;
    margin-bottom: 10px;



    .fa {
      font-size: 1.4rem;
    }

    p {
      display: block;
      margin: 0;
    }
  }
}










// Color Coding

.b-main-category-menu-repo {
  .m-all                                   { background-color: $gray_20;}
  .m-behavioral-research                   { background-color: $behavioral-research;      }
  .m-citizen-engagement-and-crowdsourcing  { background-color: $citizen-engagement;       }
  .m-civic-technology                      { background-color: $civic-technology;         }
  .m-data-analysis                         { background-color: $data-analysis;            }
  .m-expert-networking                     { background-color: $expert-networking;        }
  .m-labs-and-experimentation              { background-color: $labs-and-experimentation; }
  .m-open-data                             { background-color: $open-data;                }
} 