.rssHeader { display: none; }
.rssBody ul {
  margin-left: 0;
}
.rssRow {
  border-bottom: 1px solid $gray_30;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
  list-style-type: none;
  margin-left: 0;
  
  h4 {
    font-size: 1.3rem;
    margin-bottom: 0;
  }

  > div { 
    font-size: 1rem;
    margin-bottom: 10px;
  }

  > p { 
    font-size: 1.2rem;
    clear: both;
  }

  a {
    color: $purple;

    &:hover {
      color: $purple;
      background-color: transparent;
      text-decoration: underline;
    } 
  }

  &:first-of-type {
    border-top: 1px solid $gray_30;
  }
}