.rssHeader { display: none; }

.rssRow {
  border: 1px solid $gray_30;
  padding:  20px;
  background-color: $white;
  @include drop-shadow-light;
  position: relative;
  margin-bottom: 10px;
  border-left: 6px solid $purple;
  
  h4 {
    font-size: 1.3rem;
    margin-bottom: 0;
  }

  > div { 
    font-size: 1rem;
    margin-bottom: 10px;
  }

  > p { 
    font-size: 1.2rem;
    clear: both;
  }

  a {
    color: $purple;

    &:hover {
      color: $purple;
      background-color: transparent;
      text-decoration: underline;
    } 
  }
}