.b-button {
  border-radius: 2px;
  border: 0;
  background-color: $purple;
  color: $white;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;


  
}



// MOBILE ONLY
@media only screen and (max-width : $desktop_width) {
.b-button {
  padding: 13px 36px 12px;
  font-size: 1.4rem;
  letter-spacing: 3px;
}

div.b-button {
  padding-top: 15px;
  padding-bottom: 14px;
}

.b-button-set .b-button {
  width: 49%;
  padding-left: 0;
  padding-right: 0;
}

}

/* Desktops and laptops ----------- */
@media only screen and (min-width : $desktop_width) {
.b-button {
  &.m-large {
    padding: 13px 36px 12px;
    font-size: 1.4rem;
    letter-spacing: 3px;
  } 
}
div.b-button.b-button {
  padding-top: 15px;
  padding-bottom: 14px;
} 
}