// Base Styles

h1 {
	font-size: 72px;
	font-weight: 100;
	margin: 0 5px;
}

h2 {
	text-align: center;
	margin-bottom: 40px;
	color: $gray_60;
	font-weight: 100;
}

p, li {
	font-weight: 300;
	font-size: 1.2rem;
	line-height: 1.4;
	text-rendering: optimizeLegibility;
	color: $text_color;
}

li {
	list-style-type: none;
}

.b-list li {
	
	padding-left: 5px;

	&:before {
		width: 0;
		height: 0;
		border-left: 6px solid $scheme-comp_3;
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		content: "";
		float: left;
		margin: 6px 0 0 -20px;
	}
}

.m-centered-text { text-align: center; }

p,
.e-project-files {
	margin-bottom: 0.5rem;

	a {
		color: $scheme-comp_4;

		&:hover {
			background-color: $scheme-comp_3;
			color: $scheme-comp_4;
		}

		&:visited {
			color: $gray_50;
		}
	}
}

