.b-tile-row {
	overflow: hidden;
}

.b-tile {
	margin-bottom: 30px;

	.front,
	.back { padding: 10px 40px 40px; }

	h3 {
		margin-top: 20px;
		color: $white;
		font-weight: 600;
		text-transform: uppercase;
		opacity: .6;
		font-size: 1.8rem;
	}

	p { color: $gray_80; }
	p:last-child {margin-bottom: 0;}

	.e-more-info {
		margin-top: 20px;
		left: 10%;

		a {
			display: block;
			background-color: $gray_15;
			color: $white_50;
			font-weight: 600;
			text-align: center;
			letter-spacing: 1px;
			text-transform: uppercase;
			padding: 3px;
			border-radius: 3px;
		}

		&:hover a {
			background-color: $white_80;
			color: $purple;
		}
	}
}
