.grow {
  transition: all .2s ease-in-out; }

.grow:hover {
  transform: scale(1.1); }

body {
  background-color: rgba(0, 0, 0, 0.03); }

body, h1, h2, h3, h4, h5, input {
  font-family: proxima-nova, sans-serif; }

.b-top-navigation {
  background-color: #472b74;
  position: relative;
  z-index: 10;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.6); }
  .b-top-navigation .e-logo {
    font-size: 1.2rem;
    letter-spacing: .5px;
    float: left; }
    .b-top-navigation .e-logo a {
      color: white; }
  .b-top-navigation .e-icon {
    background-image: url("../img/govlab-logo-white.png");
    background-size: 140px;
    width: 30px;
    height: 40px;
    background-repeat: no-repeat;
    float: left; }
  .b-top-navigation .e-sitename {
    padding: 7px 10px 7px;
    display: inline-block;
    font-weight: 100; }

@media only screen and (max-width: 1024px) {
  .b-top-navigation .e-logo {
    margin: 5px 0 6px; }
  .b-top-navigation .e-mainnav-trigger {
    font-size: 1.4rem;
    position: absolute;
    right: 20px;
    top: 12px;
    color: white;
    z-index: 20; }
  .b-top-navigation .b-main-nav {
    opacity: 0;
    position: fixed;
    pointer-events: none;
    background-color: #472b74;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    z-index: 19;
    transition: all 0.4s ease; }
    .b-top-navigation .b-main-nav a {
      display: block;
      align-items: center;
      flex: 1;
      font-size: 2rem;
      color: white;
      font-weight: 100;
      padding: 9%;
      text-align: left; }
      .b-top-navigation .b-main-nav a:active {
        background-color: rgba(255, 255, 255, 0.15); }
  .b-top-navigation.m-nav-active .b-main-nav {
    opacity: 1;
    bottom: 0;
    padding: 50px 0;
    transition: all 0.4s ease;
    pointer-events: all; }
  .b-top-navigation .m-nav-active.e-mainnav-trigger i:before {
    content: "\f00d" !important; }

  .m-disabled {
    display: none !important; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .b-top-navigation {
    padding: 0; }
    .b-top-navigation .e-logo {
      padding: 3px 0 3px; }
    .b-top-navigation .e-icon {
      width: 140px; }
    .b-top-navigation .e-mainnav-trigger {
      display: none; }
    .b-top-navigation .b-main-nav {
      opacity: 1;
      z-index: 0;
      margin: 0;
      position: static;
      text-align: right;
      font-size: 0; }
      .b-top-navigation .b-main-nav a {
        display: inline-block;
        line-height: 1;
        padding: 19px 15px;
        font-size: 1.1rem;
        color: white;
        font-weight: 100;
        letter-spacing: 1px;
        border-right: 1px solid rgba(255, 255, 255, 0.15); }
      .b-top-navigation .b-main-nav a:first-child {
        border-left: 1px solid rgba(255, 255, 255, 0.15); }
      .b-top-navigation .b-main-nav a:hover {
        background-color: rgba(255, 255, 255, 0.15); }

  .m-disabled {
    opacity: .3;
    pointer-events: none; } }
.b-footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0 0;
  padding-top: 20px; }
  .b-footer h4 {
    color: #727272;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: regular;
    margin: 0 0 10px; }
  .b-footer img {
    max-width: 80%; }
  .b-footer .e-creative-commons {
    font-size: .8rem;
    line-height: 1rem;
    padding: 10px 10px 10px;
    margin-top: 15px;
    color: #727272;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.15); }
    .b-footer .e-creative-commons img {
      float: left;
      margin-right: 20px; }
    .b-footer .e-creative-commons a {
      color: white; }
      .b-footer .e-creative-commons a:hover {
        background-color: transparent;
        color: white;
        text-decoration: underline; }
      .b-footer .e-creative-commons a:visited {
        color: #727272;
        text-decoration: none; }

/* Mobile Only ----------- */
@media only screen and (max-width: 1024px) {
  .b-footer {
    text-align: center; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .b-footer {
    padding: 30px 0 0; }
    .b-footer .e-partners {
      margin-bottom: 30px; } }
.b-content-section {
  margin: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 20px; }
  .b-content-section:last-child {
    border-bottom: 0; }

.b-publication-item.b-publication-item {
  position: relative; }
  .b-publication-item.b-publication-item h1 {
    text-align: left;
    font-size: 1.1rem; }
    .b-publication-item.b-publication-item h1 a {
      color: rgba(0, 0, 0, 0.8);
      font-weight: 600; }
  .b-publication-item.b-publication-item:before {
    content: '';
    width: 6px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2); }
  .b-publication-item.b-publication-item .e-pub-author {
    font-size: 0.9rem; }
  .b-publication-item.b-publication-item .e-pub-date {
    font-size: 0.9rem;
    text-transform: uppercase; }
  .b-publication-item.b-publication-item .e-pub-type {
    text-align: right; }
    .b-publication-item.b-publication-item .e-pub-type span {
      font-size: .8rem;
      text-transform: uppercase;
      color: white;
      border-radius: 2px;
      padding: 0 6px;
      display: inline-block; }
  .b-publication-item.b-publication-item .e-pub-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 10px;
    width: 100%;
    text-align: right; }
    .b-publication-item.b-publication-item .e-pub-actions a {
      color: rgba(0, 0, 0, 0.2);
      margin: 0 15px; }
    .b-publication-item.b-publication-item .e-pub-actions a:hover {
      color: rgba(0, 0, 0, 0.6); }

/* Mobile Only ----------- */
@media only screen and (max-width: 1024px) {
  .b-publication-item.b-publication-item {
    display: block;
    padding: 10px 15px 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    .b-publication-item.b-publication-item h1 {
      margin-bottom: 10px; }
    .b-publication-item.b-publication-item:first-of-type {
      border-top: 1px solid rgba(0, 0, 0, 0.2); }
    .b-publication-item.b-publication-item .e-pub-author {
      margin-bottom: 10px; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .b-publication-item {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 10px 20px 10px 34px;
    margin: 4px;
    height: 200px;
    width: 500px;
    vertical-align: top;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }

  .b-publication-item .e-pub-actions {
    display: none; }

  .b-publication-item:hover .e-pub-actions {
    display: block; } }
.b-publication-item.m-behavioral-research:before, .b-publication-item.m-behavioral-research .e-pub-type span {
  background-color: #cfcf00; }
.b-publication-item.m-citizen-engagement-and-crowdsourcing:before, .b-publication-item.m-citizen-engagement-and-crowdsourcing .e-pub-type span {
  background-color: #00adef; }
.b-publication-item.m-civic-technology:before, .b-publication-item.m-civic-technology .e-pub-type span {
  background-color: #00c800; }
.b-publication-item.m-data-analysis:before, .b-publication-item.m-data-analysis .e-pub-type span {
  background-color: #af0000; }
.b-publication-item.m-expert-networking:before, .b-publication-item.m-expert-networking .e-pub-type span {
  background-color: #00e388; }
.b-publication-item.m-labs-and-experimentation:before, .b-publication-item.m-labs-and-experimentation .e-pub-type span {
  background-color: #f00074; }
.b-publication-item.m-open-data:before, .b-publication-item.m-open-data .e-pub-type span {
  background-color: #ff8d00; }

.b-offcanvas {
  background-color: rgba(0, 0, 0, 0.1); }
  .b-offcanvas h2.m-filter-name {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px 0 10px 20px;
    color: #472b74;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0;
    vertical-align: middle; }
    .b-offcanvas h2.m-filter-name:hover {
      background-color: rgba(71, 43, 116, 0.1); }
    .b-offcanvas h2.m-filter-name.m-active {
      background-color: rgba(71, 43, 116, 0.2); }
    .b-offcanvas h2.m-filter-name i {
      float: right;
      margin-right: 20px;
      margin-top: 3px; }
  .b-offcanvas .b-item-wrapper {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3) inset;
    padding-top: 10px; }
  .b-offcanvas .b-item {
    font-size: .9rem;
    padding: 6px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer; }
    .b-offcanvas .b-item:hover {
      background-color: rgba(0, 0, 0, 0.1); }
    .b-offcanvas .b-item .fa {
      float: right;
      margin: 4px 2px 0 0;
      opacity: .2; }
    .b-offcanvas .b-item .e-filter-tag {
      display: block; }
    .b-offcanvas .b-item .e-filter-tag.m-active .fa {
      opacity: 1;
      margin-right: 0; }
      .b-offcanvas .b-item .e-filter-tag.m-active .fa:before {
        content: "\f00c";
        color: green; }
    .b-offcanvas .b-item .e-filter-tag.m-active:hover .fa {
      opacity: 1;
      margin-right: 2px; }
      .b-offcanvas .b-item .e-filter-tag.m-active:hover .fa:before {
        content: "\f00d";
        color: red; }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .left-off-canvas-menu {
    width: 20rem; }

  .move-right > .inner-wrap {
    -ms-transform: translate(20rem, 0);
    -webkit-transform: translate3d(20rem, 0, 0);
    -moz-transform: translate3d(20rem, 0, 0);
    -ms-transform: translate3d(20rem, 0, 0);
    -o-transform: translate3d(20rem, 0, 0);
    transform: translate3d(20rem, 0, 0); }

  .exit-off-canvas {
    box-shadow: rgba(0, 0, 0, 0.15) -4px 0px 4px 0px, rgba(0, 0, 0, 0.15) 4px 0px 4px 0px !important; }

  .b-filters-trigger {
    position: fixed;
    left: -29px;
    top: 100px !important;
    padding: 8px 20px;
    background-color: #472b74;
    transform: rotate(-90deg);
    color: white;
    text-transform: uppercase;
    font-weight: 400; }

  #filter-panel {
    position: relative; } }
.rssHeader {
  display: none; }

.rssBody ul {
  margin-left: 0; }

.rssRow {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
  list-style-type: none;
  margin-left: 0; }
  .rssRow h4 {
    font-size: 1.3rem;
    margin-bottom: 0; }
  .rssRow > div {
    font-size: 1rem;
    margin-bottom: 10px; }
  .rssRow > p {
    font-size: 1.2rem;
    clear: both; }
  .rssRow a {
    color: #472b74; }
    .rssRow a:hover {
      color: #472b74;
      background-color: transparent;
      text-decoration: underline; }
  .rssRow:first-of-type {
    border-top: 1px solid rgba(0, 0, 0, 0.3); }

.b-content-section h1 {
  text-align: center; }

@media only screen and (max-width: 1024px) {
  .b-content-section h1 {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-bottom: 30px; }
  .b-content-section h2 {
    font-weight: 600;
    color: #472b74;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 20px 0; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .b-content-section h1 {
    font-weight: 100;
    font-size: 3rem; } }
.b-button {
  border-radius: 2px;
  border: 0;
  background-color: #472b74;
  color: white;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block; }

@media only screen and (max-width: 1024px) {
  .b-button {
    padding: 13px 36px 12px;
    font-size: 1.4rem;
    letter-spacing: 3px; }

  div.b-button {
    padding-top: 15px;
    padding-bottom: 14px; }

  .b-button-set .b-button {
    width: 49%;
    padding-left: 0;
    padding-right: 0; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .b-button.m-large {
    padding: 13px 36px 12px;
    font-size: 1.4rem;
    letter-spacing: 3px; }

  div.b-button.b-button {
    padding-top: 15px;
    padding-bottom: 14px; } }
.b-search-field {
  margin-bottom: 20px;
  padding: 16px 20px !important;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 200;
  border: 1px solid rgba(0, 0, 0, 0.3); }

.b-main-search {
  text-align: center;
  padding-top: 50px; }

.b-main-category-menu .e-main-category {
  text-align: center;
  display: inline-block;
  vertical-align: top; }
  .b-main-category-menu .e-main-category:last-child {
    margin-right: 0; }
  .b-main-category-menu .e-main-category p {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: .4px;
    padding-top: 10px; }
  .b-main-category-menu .e-main-category i {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.5);
    padding: 20px; }

@media only screen and (max-width: 1024px) {
  .b-main-category-menu {
    margin-top: 30px;
    text-align: center; }
    .b-main-category-menu .e-main-category {
      width: 48%;
      border-radius: 0;
      margin-bottom: 5px; }
      .b-main-category-menu .e-main-category i {
        border-radius: 0;
        box-shadow: none; }
      .b-main-category-menu .e-main-category.m-labs-and-experimentation {
        width: calc(100% - 10px); }

  .b-main-search {
    padding-bottom: 160px; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .b-main-category-menu {
    margin-top: 40px; }
    .b-main-category-menu h3 {
      color: #472b74; }
    .b-main-category-menu .e-main-category {
      cursor: pointer;
      width: 139px;
      height: 139px;
      margin: 0 0 30px;
      background-color: transparent !important; }
      .b-main-category-menu .e-main-category p {
        color: #472b74; }
      .b-main-category-menu .e-main-category i {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        transition: all 0.4s ease;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.6); }
      .b-main-category-menu .e-main-category:hover i {
        color: white;
        transition: all 0.4s ease; }

  .b-main-search {
    padding-bottom: 60px; }

  .b-grow {
    transition: all .2s ease-in-out; }

  .b-grow:hover {
    transform: scale(1.2); } }
.b-main-category-menu .m-behavioral-research,
.b-main-category-menu .m-behavioral-research i {
  background-color: #cfcf00; }
.b-main-category-menu .m-citizen-engagement-and-crowdsourcing,
.b-main-category-menu .m-citizen-engagement-and-crowdsourcing i {
  background-color: #00adef; }
.b-main-category-menu .m-civic-technology,
.b-main-category-menu .m-civic-technology i {
  background-color: #00c800; }
.b-main-category-menu .m-data-analysis,
.b-main-category-menu .m-data-analysis i {
  background-color: #af0000; }
.b-main-category-menu .m-expert-networking,
.b-main-category-menu .m-expert-networking i {
  background-color: #00e388; }
.b-main-category-menu .m-labs-and-experimentation,
.b-main-category-menu .m-labs-and-experimentation i {
  background-color: #f00074; }
.b-main-category-menu .m-open-data,
.b-main-category-menu .m-open-data i {
  background-color: #ff8d00; }

.b-main-category-menu-repo .column {
  padding: 0 5px; }
.b-main-category-menu-repo .e-main-category {
  color: white;
  padding: 10px 12px;
  display: block;
  text-align: center;
  margin-bottom: 10px; }
  .b-main-category-menu-repo .e-main-category .fa {
    font-size: 1.4rem; }
  .b-main-category-menu-repo .e-main-category p {
    display: block;
    margin: 0; }

.b-main-category-menu-repo .m-all {
  background-color: rgba(0, 0, 0, 0.2); }
.b-main-category-menu-repo .m-behavioral-research {
  background-color: #cfcf00; }
.b-main-category-menu-repo .m-citizen-engagement-and-crowdsourcing {
  background-color: #00adef; }
.b-main-category-menu-repo .m-civic-technology {
  background-color: #00c800; }
.b-main-category-menu-repo .m-data-analysis {
  background-color: #af0000; }
.b-main-category-menu-repo .m-expert-networking {
  background-color: #00e388; }
.b-main-category-menu-repo .m-labs-and-experimentation {
  background-color: #f00074; }
.b-main-category-menu-repo .m-open-data {
  background-color: #ff8d00; }

.b-publication .e-pub-category,
.b-publication .e-pub-date {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .5px; }
.b-publication .e-pub-category {
  color: white;
  letter-spacing: .5px; }
.b-publication .e-pub-organization h3 {
  font-size: 1.2rem; }
.b-publication .e-pub-meta h2 {
  color: rgba(0, 0, 0, 0.6); }
.b-publication .e-pub-meta .e-pub-type,
.b-publication .e-pub-meta .e-pub-methodology,
.b-publication .e-pub-meta .e-pub-objective,
.b-publication .e-pub-meta .e-pub-region,
.b-publication .e-pub-meta .e-pub-sector {
  font-weight: 400; }
  .b-publication .e-pub-meta .e-pub-type span,
  .b-publication .e-pub-meta .e-pub-methodology span,
  .b-publication .e-pub-meta .e-pub-objective span,
  .b-publication .e-pub-meta .e-pub-region span,
  .b-publication .e-pub-meta .e-pub-sector span {
    display: block;
    margin-bottom: 10px;
    font-weight: 600; }
.b-publication .e-pub-actions a {
  text-align: center;
  background-color: #472b74;
  color: white;
  margin-right: 5px; }
.b-publication .e-pub-actions a:last-child {
  margin-right: 0; }

@media only screen and (max-width: 1024px) {
  .b-publication .e-pub-category {
    font-size: .9rem;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 4px 0 5px;
    text-align: center; }
  .b-publication .e-pub-date {
    display: block;
    text-align: center; }
  .b-publication .e-pub-title {
    font-size: 1.5rem;
    margin: 20px 0 10px; }
  .b-publication .e-pub-author {
    text-align: center;
    margin-bottom: 50px; }
  .b-publication .e-pub-abstract {
    font-size: 1.2rem; }
  .b-publication .e-pub-organization {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px 0; }
    .b-publication .e-pub-organization h3 {
      text-align: center; }
  .b-publication .e-pub-meta {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 1.2rem; }
  .b-publication .e-pub-actions {
    margin-top: 20px;
    display: flex; }
    .b-publication .e-pub-actions a {
      flex: 1;
      text-align: center;
      background-color: #472b74;
      color: white;
      padding: 20px;
      margin-right: 5px; }
    .b-publication .e-pub-actions a:last-child {
      margin-right: 0; }
    .b-publication .e-pub-actions i {
      font-size: 1.7rem; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .b-publication .e-pub-category {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 1.3rem;
    padding: 3px 10px;
    width: auto;
    display: inline-block; }
  .b-publication .e-pub-date {
    font-size: 1.3rem;
    position: absolute;
    right: 0.9375em;
    top: -35px;
    color: rgba(0, 0, 0, 0.6); }
  .b-publication .e-pub-title {
    text-align: left;
    font-size: 2.5rem;
    margin: 30px 0 0; }
  .b-publication .e-pub-author {
    font-size: 1.3rem;
    margin-bottom: 30px; }
  .b-publication .e-pub-organization {
    margin-left: 20px;
    margin-bottom: 40px; }
  .b-publication .e-pub-meta {
    padding-left: 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.2); }
    .b-publication .e-pub-meta h2 {
      font-size: 1.3rem;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: .6px; }
  .b-publication .e-pub-actions {
    margin-top: 20px;
    margin-left: 20px; }
    .b-publication .e-pub-actions a {
      display: inline-block;
      padding: 15px;
      width: 54px;
      height: 54px;
      border-radius: 50%;
      overflow: hidden; }
    .b-publication .e-pub-actions a:last-child {
      margin-right: 0; } }
.b-publication.m-behavioral-research .e-pub-category {
  background-color: #cfcf00; }
.b-publication.m-citizen-engagement-and-crowdsourcing .e-pub-category {
  background-color: #00adef; }
.b-publication.m-civic-technology .e-pub-category {
  background-color: #00c800; }
.b-publication.m-data-analysis .e-pub-category {
  background-color: #af0000; }
.b-publication.m-expert-networking .e-pub-category {
  background-color: #00e388; }
.b-publication.m-labs-and-experimentation .e-pub-category {
  background-color: #f00074; }
.b-publication.m-open-data .e-pub-category {
  background-color: #ff8d00; }

.b-organization-header {
  padding: 30px 0 10px;
  background-color: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
  border-width: 16px 0 0 0;
  border-style: solid;
  border-color: #00adef; }
  .b-organization-header h3 {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #00adef; }
  .b-organization-header .e-org-logo {
    text-align: center;
    vertical-align: middle; }
    .b-organization-header .e-org-logo img {
      max-width: 350px; }

/*# sourceMappingURL=styles.css.map */
