.grow {
  transition: all .2s ease-in-out; }

.grow:hover {
  transform: scale(1.1); }

body {
  background-color: rgba(0, 0, 0, 0.03); }

body, h1, h2, h3, h4, h5, input {
  font-family: proxima-nova, sans-serif; }

.b-top-navigation {
  background-color: #472b74;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.6); }
  .b-top-navigation .e-logo {
    font-size: 1.2rem;
    letter-spacing: .5px;
    float: left; }
    .b-top-navigation .e-logo a {
      color: white; }
  .b-top-navigation .e-icon {
    background-image: url("../img/govlab-logo-white.png");
    background-size: 140px;
    width: 30px;
    height: 40px;
    background-repeat: no-repeat;
    float: left; }
  .b-top-navigation .e-sitename {
    padding: 7px 10px 7px;
    display: inline-block;
    font-weight: 100; }

@media only screen and (max-width: 1024px) {
  .b-top-navigation .e-logo {
    margin: 5px 0 6px; }
  .b-top-navigation .e-mainnav-trigger {
    font-size: 1.4rem;
    position: absolute;
    right: 20px;
    top: 12px;
    color: white;
    z-index: 20; }
  .b-top-navigation .b-main-nav {
    opacity: 0;
    position: fixed;
    pointer-events: none;
    background-color: #472b74;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    z-index: 19;
    transition: all 0.4s ease; }
    .b-top-navigation .b-main-nav a {
      display: block;
      align-items: center;
      flex: 1;
      font-size: 2rem;
      color: white;
      font-weight: 100;
      padding: 9%;
      text-align: left; }
      .b-top-navigation .b-main-nav a:active {
        background-color: rgba(255, 255, 255, 0.15); }
  .b-top-navigation.m-nav-active .b-main-nav {
    opacity: 1;
    bottom: 0;
    padding: 50px 0;
    transition: all 0.4s ease;
    pointer-events: all; }
  .b-top-navigation .m-nav-active.e-mainnav-trigger i:before {
    content: "\f00d" !important; }

  .m-disabled {
    display: none !important; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .b-top-navigation {
    padding: 0; }
    .b-top-navigation .e-logo {
      padding: 3px 0 3px; }
    .b-top-navigation .e-icon {
      width: 140px; }
    .b-top-navigation .e-mainnav-trigger {
      display: none; }
    .b-top-navigation .b-main-nav {
      opacity: 1;
      z-index: 0;
      margin: 0;
      position: static;
      text-align: right;
      font-size: 0; }
      .b-top-navigation .b-main-nav a {
        display: inline-block;
        line-height: 1;
        padding: 19px 15px;
        font-size: 1.1rem;
        color: white;
        font-weight: 100;
        letter-spacing: 1px;
        border-right: 1px solid rgba(255, 255, 255, 0.15); }
      .b-top-navigation .b-main-nav a:first-child {
        border-left: 1px solid rgba(255, 255, 255, 0.15); }
      .b-top-navigation .b-main-nav a:hover {
        background-color: rgba(255, 255, 255, 0.15); }

  .m-disabled {
    opacity: .3;
    pointer-events: none; } }
.b-footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0 0;
  padding-top: 20px; }
  .b-footer h4 {
    color: #727272;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: regular;
    margin: 0 0 10px; }
  .b-footer img {
    max-width: 80%; }
  .b-footer .e-creative-commons {
    font-size: .8rem;
    line-height: 1rem;
    padding: 10px 10px 10px;
    margin-top: 15px;
    color: #727272;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.15); }
    .b-footer .e-creative-commons img {
      float: left;
      margin-right: 20px; }
    .b-footer .e-creative-commons a {
      color: white; }
      .b-footer .e-creative-commons a:hover {
        background-color: transparent;
        color: white;
        text-decoration: underline; }
      .b-footer .e-creative-commons a:visited {
        color: #727272;
        text-decoration: none; }

/* Mobile Only ----------- */
@media only screen and (max-width: 1024px) {
  .b-footer {
    text-align: center; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .b-footer {
    padding: 30px 0 0; }
    .b-footer .e-partners {
      margin-bottom: 30px; } }
.b-content-section {
  margin: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 20px; }
  .b-content-section:last-child {
    border-bottom: 0; }

.b-publication-item.b-publication-item {
  position: relative; }
  .b-publication-item.b-publication-item h1 {
    text-align: left;
    font-size: 1.1rem; }
    .b-publication-item.b-publication-item h1 a {
      color: rgba(0, 0, 0, 0.8);
      font-weight: 600; }
  .b-publication-item.b-publication-item:before {
    content: '';
    width: 6px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; }
  .b-publication-item.b-publication-item .e-pub-author {
    font-size: 0.9rem; }
  .b-publication-item.b-publication-item .e-pub-date {
    font-size: 0.9rem;
    text-transform: uppercase; }
  .b-publication-item.b-publication-item .e-pub-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 10px;
    width: 100%;
    text-align: right; }
    .b-publication-item.b-publication-item .e-pub-actions a {
      color: rgba(0, 0, 0, 0.2);
      margin: 0 15px; }
    .b-publication-item.b-publication-item .e-pub-actions a:hover {
      color: rgba(0, 0, 0, 0.6); }

/* Mobile Only ----------- */
@media only screen and (max-width: 1024px) {
  .b-publication-item.b-publication-item {
    display: block;
    padding: 10px 15px 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    .b-publication-item.b-publication-item h1 {
      margin-bottom: 10px; }
    .b-publication-item.b-publication-item:first-of-type {
      border-top: 1px solid rgba(0, 0, 0, 0.2); }
    .b-publication-item.b-publication-item .e-pub-author {
      margin-bottom: 10px; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .b-publication-item {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 20px 20px 20px 34px;
    margin-bottom: 30px;
    margin-right: 14px;
    height: 240px;
    width: 311px;
    vertical-align: top;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }
    .b-publication-item:nth-child(3n) {
      margin-right: 0; }

  .b-publication-item .e-pub-actions {
    display: none; }

  .b-publication-item:hover .e-pub-actions {
    display: block; } }
.b-publication-item.m-behavioral-research:before {
  background-color: yellow; }
.b-publication-item.m-citizen-engagement-and-crowdsourcing:before {
  background-color: blue; }
.b-publication-item.m-civic-technology:before {
  background-color: green; }
.b-publication-item.m-data-analysis:before {
  background-color: red; }
.b-publication-item.m-expert-networking:before {
  background-color: teal; }
.b-publication-item.m-labs-and-experimentation:before {
  background-color: purple; }
.b-publication-item.m-open-data:before {
  background-color: orange; }

.b-content-section h1 {
  text-align: center; }

@media only screen and (max-width: 1024px) {
  .b-content-section h1 {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-bottom: 30px; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .b-content-section h1 {
    font-weight: 100;
    font-size: 3rem; } }
.b-button {
  border-radius: 2px;
  border: 0;
  background-color: #472b74;
  color: white;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block; }

@media only screen and (max-width: 1024px) {
  .b-button {
    padding: 13px 36px 12px;
    font-size: 1.4rem;
    letter-spacing: 3px; }

  div.b-button {
    padding-top: 15px;
    padding-bottom: 14px; }

  .b-button-set .b-button {
    width: 49%;
    padding-left: 0;
    padding-right: 0; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .b-button.m-large {
    padding: 13px 36px 12px;
    font-size: 1.4rem;
    letter-spacing: 3px; }

  div.b-button.b-button {
    padding-top: 15px;
    padding-bottom: 14px; } }
.b-search-field {
  margin-bottom: 20px;
  padding: 16px 20px;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 200;
  border: 1px solid rgba(0, 0, 0, 0.3); }

.b-main-search {
  text-align: center;
  padding-top: 50px; }

.b-main-category-menu .e-main-category {
  text-align: center;
  display: inline-block;
  vertical-align: top; }
  .b-main-category-menu .e-main-category:last-child {
    margin-right: 0; }
  .b-main-category-menu .e-main-category p {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: .4px;
    padding-top: 10px; }
  .b-main-category-menu .e-main-category i {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.2);
    padding: 20px; }

@media only screen and (max-width: 1024px) {
  .b-main-category-menu {
    margin-top: 30px;
    text-align: center; }
    .b-main-category-menu .e-main-category {
      width: 48%;
      border-radius: 0;
      margin-bottom: 5px; }
      .b-main-category-menu .e-main-category i {
        border-radius: 0;
        box-shadow: none; }
      .b-main-category-menu .e-main-category.m-labs-and-experimentation {
        width: calc(100% - 10px); }

  .b-main-search {
    padding-bottom: 160px; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .b-main-category-menu {
    margin-top: 40px; }
    .b-main-category-menu h3 {
      color: #472b74; }
    .b-main-category-menu .e-main-category {
      cursor: pointer;
      width: 139px;
      height: 139px;
      margin: 0 0 30px;
      background-color: transparent !important; }
      .b-main-category-menu .e-main-category p {
        color: #472b74; }
      .b-main-category-menu .e-main-category i {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        transition: all 0.4s ease;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.6); }
      .b-main-category-menu .e-main-category:hover i {
        color: white;
        transition: all 0.4s ease; }

  .b-main-search {
    padding-bottom: 60px; }

  .b-grow {
    transition: all .2s ease-in-out; }

  .b-grow:hover {
    transform: scale(1.2); } }
.b-main-category-menu .m-behavioral-research,
.b-main-category-menu .m-behavioral-research i {
  background-color: yellow; }
.b-main-category-menu .m-citizen-engagement-and-crowdsourcing,
.b-main-category-menu .m-citizen-engagement-and-crowdsourcing i {
  background-color: blue; }
.b-main-category-menu .m-civic-technology,
.b-main-category-menu .m-civic-technology i {
  background-color: green; }
.b-main-category-menu .m-data-analysis,
.b-main-category-menu .m-data-analysis i {
  background-color: red; }
.b-main-category-menu .m-expert-networking,
.b-main-category-menu .m-expert-networking i {
  background-color: teal; }
.b-main-category-menu .m-labs-and-experimentation,
.b-main-category-menu .m-labs-and-experimentation i {
  background-color: purple; }
.b-main-category-menu .m-open-data,
.b-main-category-menu .m-open-data i {
  background-color: orange; }

/*# sourceMappingURL=styles.css.map */
