{% extends "layout/base.html" %}
{% block content %}
<div id="digest" class="b-content-page">
  <section class="b-content-section m-header">
    <div class="row">
      <div class="column large-12">
        <h1>Digest</h1>
        <h4>Curated updates from the Open Gov World</h4>
      </div>
    </div>
    <div class="row">
      <div id="digest-container" class="column large-12"></div>
      <!-- <div id="twitter-container" class="column large-4">
        <a class="twitter-timeline" href="https://twitter.com/hashtag/smarterstate" data-widget-id="568130111262957568">#opengovresearch Tweets</a>
      </div>   -->
    </div>
  </section>
  
</div>
{% endblock %}

{% block scripts %}
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}