{% extends "layout/base.html" %}
{% block content %}
<div id="organization" class="off-canvas-wrap b-content-page m-deet" data-offcanvas>
  <div class="inner-wrap">
    <section class="b-organization-header">
      <div class="row">
        <div class="column medium-6 large-8 e-org-logo">
          <img src="static/img/organizations/deet-logo.png" alt="">
        </div>
        <div class="column medium-6 large-4">
          <div class="e-org-blurb">
            <h3>Digital Engagement Evaluation Team</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore vel iste ipsa facilis veniam recusandae dolorem error voluptatum porro laborum dolorum numquam modi sequi quae nostrum, corrupti aspernatur inventore deleniti.</p>
          </div>            
        </div>
      </div>
      
    </section>
    <section class="b-content-section b-publications">
      <div class="row">
        <div class="large-12">
          <h1>Published Research</h1>
        </div>
        <div class="b-cards-wrapper row">
          {% for p in publications %}
          {% if p.organization == 'World Bank Digital Engagement Evaluation Team' %}
            <article class="b-publication-item m-{{p.category|slug}} b-card" data-filters="{{ p.filters }}">
              {% if p.type %}<div class="e-pub-type"><span>{{p.type}}</span></div>{% endif %}
              <h1><a href="publication-{{p.title|slug}}.html">{{p.title}}</a></h1>
              <div class="e-pub-meta">
                <p class="e-pub-author">{{p.authors}}</p>
                <span class="e-pub-date">{{p.date}}</span>
              </div>
              <div class="e-pub-actions">
                {% if p.github %} <a target="_blank" title="Github Repository" href="{{p.github}}"><i class="fa fa-github fa-lg"></i></a> {% endif %}
                {% if p.data %} <a target="_blank" title="Dataset" href="{{p.dataset}}"><i class="fa fa-database fa-lg"></i></a> {% endif %}
                {% if p.url %} <a target="_blank" title="Go to Paper" href="{{p.url}}"><i class="fa fa-link fa-lg"></i></a> {% endif %}
              </div>
            </article>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}
