{% extends "layout/base.html" %}
{% block content %}
<div id="homepage" class="b-content-page">
  <section id="landing" class="b-content-section">
    <div class="row">
      <div class="large-12 column">
        <h1>OpenGov Research Repository</h1>
        <form class="b-main-search" method="get" action="./repository.html">
          <input class="b-search-field" type="text" name="search" placeholder="Search our repository...">
          <input class="b-button m-large" type="submit" value="Search">
        </form>
      </div>
    </div>
  </section>
  <section class="b-content-section">
    <div class="b-main-category-menu">
      <div class="row">
        <div class="large-12 column">
          <h1>Choose a category</h1>
        </div>
      </div>
      <div class="row">
        <a href="./repository.html?cat=behavioral-research" class="e-main-category m-behavioral-research">
          <i class="fa fa-hand-o-right b-grow"></i>
          <p>Behavioral Research</p>
        </a>
        <a href="./repository.html?cat=citizen-engagement-and-crowdsourcing" class="e-main-category m-citizen-engagement-and-crowdsourcing">
          <i class="fa fa-users b-grow"></i>
          <p>Citizen Engagement</p>
        </a>
        <a href="./repository.html?cat=civic-technology" class="e-main-category m-civic-technology">
          <i class="fa fa-cogs b-grow"></i>
          <p>Civic Technology</p>
        </a>
        <a href="./repository.html?cat=data-analysis" class="e-main-category m-data-analysis">
          <i class="fa fa-database b-grow"></i>
          <p>Data Analysis</p>
        </a>
        <a href="./repository.html?cat=expert-networking" class="e-main-category m-expert-networking">
          <i class="fa fa-lightbulb-o b-grow"></i>
          <p>Expert Networking</p>
        </a>
        <a href="./repository.html?cat=open-data" class="e-main-category m-open-data">
          <i class="fa fa-download b-grow"></i>
          <p>Open Data</p>
        </a>
        <a href="./repository.html?cat=labs-and-experimentation" class="e-main-category m-labs-and-experimentation">
          <i class="fa fa-flask b-grow"></i>
          <p>Labs and Experimentation</p>
        </a>
      </div>
    </div>
  </section>
  <section id="about" class="b-content-section">
    <div class="row">
      <div class="column large-10 large-offset-1 medium-12">
        <h1>What is the OpenGov Research</h1>
        <p>Advances in technology together with new scientific insights on collaboration and decision-making provide for a unique opportunity to redesign our democratic and civic institutions and, indeed, the very notion of citizenship in our democracy. Despite a flourishing of civic innovation, civic tech, open government and open data - innovative uses of technology to enable citizens and institutions to tackle society’s biggest problems together - we know too little about what kinds of innovation work, when, why, and under what conditions. Efforts to study new ways to solve public problems has been hampered by the lack of interaction and coordination across traditional disciplinary boundaries and between activists and academics. The Research Repository seeks to curate and help design research on solving public problems differently.</p>
      </div>
    </div>
  </section>
</div>
{% endblock %}
