{% extends "layout/base.html" %}

{% block content %}
{% set publication = publications[29] %}

<div>{{publication.title}}</div>
<div>{{publication.abstract}}</div>
<div>{{publication.authors}}</div>
<div>{{publication.category}}</div>
<div>{{publication.category_slug}}</div>
<div>{{publication.date}}</div>
<div>{{publication.methodology}}</div>
<div>{{publication.objective}}</div>
<div>{{publication.organization}}</div>
<div>{{publication.region}}</div>
<div>{{publication.sector}}</div>
<div>{{publication.url}}</div>

{% endblock %}
